[uwsgi]

module = wsgi:app
single-interpreter = true
master = true
listen = 20000
processes = 8
procname = imovie.server.worker
procname-master = imovie.server.master
socket = /var/run/imovie.server/imovie.server.sock
pidfile = /var/run/imovie.server/imovie.server.pid
chmod-socket = 660
socket-timeout = 60
vacuum = true
die-on-term = true
chdir = /var/app_root/imovie_server/app/
logto = /var/log/imovie/uwsgi.log
disable-logging = true


#log-5xx = true
#log-4xx = true
#thunder-lock = true
#threads = 1
#daemonize = /var/log/imovie/daemon.log
#enable-threads = true
#protocol = http
#http = imovie.server:9081
#vhost = true
#max-requests = 5000
#stats=127.0.0.1:9183
#buffer-size=32768
#chown-socket=www-data
