[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrin = "==0.5.1"
pytest = "==6.2.2"
pytest-cov = "==2.11.1"
pygments = "==2.8.1"
twine = "==3.4.1"
opencv-python = "==4.5.1.48"
sqlalchemy = "==1.4.5"
flask = "==1.1.2"
alembic = "==1.5.8"
pyjwt = "==2.0.1"
beautifulsoup4 = "==4.9.3"
lxml = "==4.6.3"
requests = "==2.25.1"

[requires]
python_version = "3.8"
