[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrin = "*"
pytest = "*"
pytest-cov = "*"
pygments = "*"
twine = "*"
opencv-python = "==4.5.1.48"
sqlalchemy = "==1.4.20"
flask = "*"
alembic = "==1.6.5"
pyjwt = "==2.1.0"
beautifulsoup4 = "==4.9.3"
lxml = "==4.9.1"
requests = "==2.25.1"
ffmpeg-python = "==0.2.0"

[requires]
python_version = "3.8"
